@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: max(884px, 100dvh);
}

/* Hide scrollbar for carousel */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
